// Colors
$primary-blue: #5C98F1;
$primary-text-color: #333333;
$secondary-text-color: #FFFFFF;
$light-blue-backgound: #EFF5FF;
$error-color: #FB6262;

// Fonts

$base-font-family: 'Montserrat', sans-serif;