.authorization-page-template {
    height: auto;
    display: flex;
  
    &__left {
      width: 50%;

      .login-form-container {
        padding: 20vh 0 0 10vw;
      }

      .sign-form-container {
        padding: 7vh 0 0 10vw;
      }
    }
  
    &__right {
      background-image: url(../../../images/login-decor.svg);
      background-repeat: no-repeat;
      background-size: cover;
      height: calc(max(100vh, 1080px));
      width: 50%;
      background-color: #EFF5FF;
    }
}

@media screen and (max-width: 1024px) {
  .authorization-page-template {

    &__left {
      .login-form-container {
        padding: 10vh 0 0 4vw;
      }

      .sign-form-container {
        padding: 7vh 0 0 4vw;
      }
    }
  }
}

@media screen and (max-width: 890px) {
  .authorization-page-template {

    &__left {
      .login-form-container {
        .login-logo {
          width: 90px;
          height: 40px;
        }

        .header1 {
          font-size: 30px;
          line-height: 35px;
        }

        .header2 {
          font-size: 22px;
          line-height: 27px;
        }

        .input {
          font-size: 14px;
          width: 320px; 
        }

        .captcha-input {
          font-size: 14px;
          width: 154px;
        }

        .captcha-container {
          width: 154px;

          .refresh-icon {
            right: -2.5vw;
          }
        }

        .submit-button {
          width: 154px;
        }

        .button {
          width: 154px;
        }
      }

      .sign-form-container {
        .login-logo {
          width: 90px;
          height: 40px;
        }

        .header1 {
          font-size: 30px;
          line-height: 35px;
        }

        .header2 {
          font-size: 22px;
          line-height: 27px;
        }

        .form-field__input {
          .input {
            font-size: 14px;
            width: 320px;
          }
        }

        .form-field__captcha {
          .captcha-input {
            font-size: 14px;
            width: 154px;
          }
  
          .captcha-container {
            width: 154px;
  
            .refresh-icon {
              right: -2.5vw;
            }
          }
        }

        .submit-button {
          width: 154px;
        }

        .button {
          width: 154px;
        }

        .select-container {
          .placeholder-container {
            font-size: 14px;
            width: 154px;
          }

          .option {
            font-size: 14px;
            width: 154px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 428px) {
    .authorization-page-template {
      width: 100%;
      display: block;
  
      &__left {
        width: 100%;
        position: absolute;
        top: 123px;
        margin: 0;
        z-index: 2;
  
        .login-form-container {
          padding: 0 5vw;
  
          .form-field {
            margin-bottom: 0px;
            width: fit-content;

            &__captcha {
              width: 90vw;
              justify-content: space-between;
            }
          }
  
          .login-logo {
            width: 84px;
            height: 32px;
          }
    
          .header1 {
            font-size: 27px;
            line-height: 33px;
            margin-bottom: 8px;
          }
    
          .header2 {
            font-weight: 600;
            font-size: 16px;
            line-height: 19.5px;
            margin-bottom: 48px;
          }
  
          .input {
            width: 90vw;
            height: 48px;
          }
  
          .submit-button {
            width: 90vw;
            height: 56px;
          }
  
          .button {
            width: 90vw;
            height: 56px;
            margin-top: 8px;
            margin-left: 0;
          }
  
          .captcha-input {
            width: 43vw;
            height: 48px;
          }
  
          .captcha-container {
            box-sizing: border-box;
            width: 43vw;
            height: 48px;
            padding-top: 6px;
            position: relative;

            .refresh-icon {
              height: 11px;
              width: 11px;
              right: 2vw;
            }
          }
  
          .error-icon  {
            top: 16px;
          }
        }
  
        .sign-form-container {
          margin: 0;
          padding: 0 5vw;
  
          .form-field {
            margin-bottom: 0px;
            width: fit-content;

            &__captcha {
              width: 90vw;
              justify-content: space-between;
            }
          }
  
          .login-logo {
            width: 84px;
            height: 32px;
          }
  
          .header1 {
            font-size: 27px;
            line-height: 33px;
            margin-bottom: 8px;
          }
    
          .header2 {
            font-weight: 600;
            font-size: 16px;
            line-height: 19.5px;
            margin-bottom: 48px;
          }
  
          .form-field__input {
            .input {
              width: 90vw;
              height: 48px;
            }
          }
  
          .submit-button {
            width: 90vw;
            height: 56px;
          }
  
          .button {
            width: 90vw;
            height: 56px;
            margin-top: 8px;
            margin-left: 0;
          }
  
          .form-field {
            .captcha-input {
              width: 43vw;
              height: 48px;
            }
    
            .captcha-container {
              box-sizing: border-box;
              width: 43vw;
              height: 48px;
              padding-top: 6px;
              position: relative;

              .refresh-icon {
                height: 11px;
                width: 11px;
                right: 2vw;
              }
            }
          }
  
          .select-container {
            .placeholder-container {
              width: 43vw;
              height: 48px;
              padding-top: 11px;
            }
  
            .option {
              width: 43vw;
              height: 48px;
              padding-top: 11px;
            }
  
            .second-option {
              top: 100px;
            }
          }
  
          .error-icon  {
            top: 16px;
          }
        }
      }
  
      &__right {
        position: absolute;
        top: 0;
        z-index: 1;
        height: 256px;
        width: 100%;
        background-image: url(../../../images/mobile-login-decor.svg);
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
}