.container {
  height: 1080px;
  display: flex;
  justify-content: center;
  .authorization-page-template {
    max-width: 1440px;
    display: flex;
  
    &__left {
      .login-form-container {
        margin: 256px 145px 315px 121px;
      }

      .sign-form-container {
        margin: 63px 183px 63px 121px;
      }
    }
  
    &__right {
      background-image: url(../../../images/login-decor.png);
      background-size: 100% 100%;
      height: 1080px;
      width: 724px;
      background-color: #EFF5FF;
    }
  }
}

@media screen and (max-width: 375px) {
  .container {
    display: block;

    .authorization-page-template {
      width: 375px;
      display: block;
  
      &__left {
        position: absolute;
        top: 123px;
        margin: 0;
        z-index: 2;
  
        .login-form-container {
          margin: 0;
          padding-left: 14px;
  
          .form-field {
            margin-bottom: 0px;
          }
  
          .login-logo {
            width: 84px;
            height: 32px;
          }
    
          .header1 {
            font-size: 27px;
            line-height: 33px;
            margin-bottom: 8px;
          }
    
          .header2 {
            font-weight: 600;
            font-size: 16px;
            line-height: 19.5px;
            margin-bottom: 48px;
          }
  
          .input {
            width: 348px;
            height: 48px;
          }
  
          .submit-button {
            width: 347px;
            height: 56px;
          }
  
          .button {
            width: 347px;
            height: 56px;
            margin-top: 8px;
            margin-left: 0;
          }
  
          .captcha-input {
            width: 170px;
            height: 48px;
          }
  
          .captcha-container {
            box-sizing: border-box;
            width: 166px;
            height: 48px;
            padding-top: 6px;
            position: relative;
          }
  
          .refresh-icon {
            height: 11px;
            width: 11px;
            position: absolute;
            left: 325px;
            bottom: 174px;
          }
  
          .error-icon  {
            top: 16px;
          }
        }
  
        .sign-form-container {
          margin: 0;
          padding-left: 14px;
  
          .form-field {
            margin-bottom: 0px;
          }
  
          .login-logo {
            width: 84px;
            height: 32px;
          }
  
          .header1 {
            font-size: 27px;
            line-height: 33px;
            margin-bottom: 8px;
          }
    
          .header2 {
            font-weight: 600;
            font-size: 16px;
            line-height: 19.5px;
            margin-bottom: 48px;
          }
  
          .form-field__input {
            .input {
              width: 348px;
              height: 48px;
            }
          }
  
          .submit-button {
            width: 347px;
            height: 56px;
          }
  
          .button {
            width: 347px;
            height: 56px;
            margin-top: 8px;
            margin-left: 0;
          }
  
          .form-field {
            .captcha-input {
              width: 170px;
              height: 48px;
            }
    
            .captcha-container {
              box-sizing: border-box;
              width: 166px;
              height: 48px;
              padding-top: 6px;
              position: relative;
            }
    
            .refresh-icon {
              height: 11px;
              width: 11px;
              position: absolute;
              left: 325px;
              bottom: 174px;
            }
          }
  
          .select-container {
            .placeholder-container {
              width: 179px;
              height: 48px;
              padding-top: 11px;
            }
  
            .option {
              width: 179px;
              height: 48px;
              padding-top: 11px;
            }
  
            .second-option {
              top: 100px;
            }
          }
  
          .error-icon  {
            top: 16px;
          }
        }
      }
  
      &__right {
        position: absolute;
        top: 0;
        z-index: 1;
        height: 256px;
        width: 375px;
        background-image: url(../../../images/mobile-login-decor.png);
        background-repeat: no-repeat;
        background-size: 375px 256px;
      }
    }
  }
}