.chat-template {
  max-width: 1440px;
  max-height: 1080px;
  margin: 0 auto;

  .header {
    box-sizing: border-box;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #88ABE3;
  }

  .content-wrapper {
    display: flex;
    height: 1000px;
    width: 100%;

    .contacts-bar {
      width: 362px;
      height: 100%;
      box-sizing: border-box;
      border-right: 1px solid #88ABE3;
    }

    .main {
      width: 1078px;
      height: 100%;
      background-image: url(./../../../images/chat-background.png);
      background-origin: border-box;
      background-repeat: no-repeat;
      background-size: 1077px 1080px;
      background-position-y: -80px;
      display: flex;
      justify-content: center;
    }
  }
}