.contact-header {
  background-color: #FFFFFF;
  height: 100%;
  width: 100%;
  padding: 24px 0 24px 24px;
  box-sizing: border-box;

  .header3 {
    padding-bottom: 4px;
  }

  .text1 {
    color: #949494;
  }
}