.no_user_message {
  
  .alone_user {
    padding-top: 30vh;
    padding-left: 80px;
  }
  
  .header4 {
    font-weight: 500;
    color: #303030;
    padding-left: 80px;
    padding-top: 23px;
  }
}
