@import '../../_settings/variables';

.button {
  width: 233px;
  height: 56px;
  background-color: $primary-blue;
  border: none;
  border-radius: 8px;
  color: $secondary-text-color;
  font-family: $base-font-family;
  font-weight: 500;
  font-size: 15px;
  line-height: 23px;
  text-align: center;
  cursor: pointer;
  margin-top: 12px;

  &:not(:disabled) {

    &:active {
      background-color: #2C6AC7;
    }

    &:hover, :focus {
      background-color: #4583DE;
    }
  }

   &:disabled {
    background-color: #D1D1D1;
    cursor: not-allowed;
   }
}

@media screen and (max-width: 375px) {
  .button {
    width: 347px;
  }
}