@import '../../_settings/variables';

.form-field {
  font-size: 13px;
  line-height: 19px;
  width: 354px;
  margin-bottom: 32px;

  .form-field__input {
    position: relative;
  }

  .form-field__label {
    display: block;
    font-weight: 600;
    color: $primary-text-color;
    margin-bottom: 4px;
  }
  
  .form-field__error {
    display: block;
    font-weight: 500;
    color: $error-color;
    margin-top: 4px;
    margin-left: 8px;
    margin-bottom: -22px;
  }
}



