@import "../../_settings/variables";

form {
  height: 100%;

  .send_menu {
    height: 100%;
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    position: relative;
  
    .send_menu__label {
  
      .send_menu__attach_icon {
        width: 22px;
        height: 22px;
        padding-top: 30px;
        padding-left: 30px;
        cursor: pointer;
      }
  
      .send_menu__file_input {
        width: 0px;
        height: 0px;
        opacity: 0;
      }
    }
  
    .send_menu__text_input {
      box-sizing: border-box;
      border: none;
      height: 100%;
      width: 100%;
      outline: none;
      font-family: $base-font-family;
      color: $primary-text-color;
      font-size: 16px;
      line-height: 20px;
      font-weight: 400;
      padding: 30px;
  
      &::placeholder {
        color: #CACACA;
        font-weight: 500;
      }
    }
  
    &__submit_button {
      position: absolute;
      height: 25px;
      width: 30px;
      position: absolute;
      top: 27px;
      right: 27px;
      opacity: 0;
      cursor: pointer;
    }
  
    .send_menu__send_icon {
      width: 24px;
      height: 21px;
      padding-top: 30px;
      padding-right: 30px;
      cursor: pointer;
    }
  }
}