@import '../../_settings/variables';

.sign_form_container {
  .header_blue {
    color: #5E93E7;
  }
  
  .header_grey {
    color: #B3CDF8;
  }

  .form_field {
    font-size: 13px;
    line-height: 19px;
    width: 354px;
    margin-bottom: 10px;

    &__captcha {
      display: flex;
      width: 383px;

      .captcha_container {
        box-sizing: border-box;
        width: 171px;
        height: 56px;
        border: 1px solid #b3cdf8;
        border-radius: 8px;
        margin-top: 23px;
        margin-left: 12px;
        text-align: center;
        padding-top: 12px;
        position: relative;
      
        .refresh_icon {
          position: absolute;
          width: 16px;
          height: 16px;
          cursor: pointer;
          top: 40%;
          right: -2vw;
        }
      }
    }

    &__label {
      display: block;
      font-weight: 600;
      color: $primary-text-color;
      margin-bottom: 4px;
    }
  
    &__input {
      position: relative;

      .input {
        box-sizing: border-box;
        width: 354px;
        height: 56px;
        border: 1px solid #b3cdf8;
        border-radius: 8px;
        font-family: $base-font-family;
        font-weight: 400px;
        font-size: 15px;
        line-height: 23px;
        padding: 16px 40px 17px 16px;
        color: $primary-text-color;
        margin-bottom: 4px;
      
        &::placeholder {
          color: #9F9F9F;
        }
      
        &:focus {
          outline: none;
          border-color: $primary-blue;
        }
      }

      .invalid {
        border-color: $error-color;
      
        &:focus {
          outline: none;
          border-color: $error-color;
        }
      }
    }

    .captcha_input {
      box-sizing: border-box;
      width: 171px;
      height: 56px;
      border: 1px solid #b3cdf8;
      border-radius: 8px;
      font-family: $base-font-family;
      font-weight: 400px;
      font-size: 15px;
      line-height: 23px;
      padding: 16px 40px 17px 16px;
      color: $primary-text-color;
      margin-bottom: 4px;

      &::placeholder {
        color: #9F9F9F;
      }
    
      &:focus {
        outline: none;
        border-color: $primary-blue;
      }
    }

    .invalid {
      border-color: $error-color;
    
      &:focus {
        outline: none;
        border-color: $error-color;
      }
    }

    &__error {
      font-weight: 500;
      color: $error-color;
      margin-left: 8px;
    }
  }

  .select_container {
    position: relative;

    .placeholder_container {
      box-sizing: border-box;
      width: 171px;
      height: 56px;
      border: 1px solid #b3cdf8;
      border-radius: 8px;
      font-family: $base-font-family;
      font-weight: 400px;
      font-size: 15px;
      line-height: 23px;
      padding: 16px 0px 17px 16px;
      color: #9F9F9F;
      display: flex;
      justify-content: space-between;
      margin-bottom: 4px;
      cursor: pointer;

      &:focus {
        outline: none;
        border-color: $error-color;
      }

      .dropdown_arrow{
        width: 8px;
        height: 4px;
        padding-top: 10px;
        padding-right: 15px;
      }

      .set {
        color: $primary-text-color;
      }
    }


    .first_option {
      box-sizing: border-box;
      width: 171px;
      height: 56px;
      border: 1px solid #b3cdf8;
      border-radius: 8px 8px 0px 0px;
      font-family: $base-font-family;
      font-weight: 400px;
      font-size: 15px;
      line-height: 23px;
      padding: 16px 0px 17px 16px;
      color: $primary-text-color;
      display: none;
      position: absolute;
      z-index: 2;
      background-color: #FFFFFF;
    }

    .second_option {
      box-sizing: border-box;
      width: 171px;
      height: 56px;
      border: 1px solid #b3cdf8;
      border-top: none;
      border-radius: 0px 0px 8px 8px;
      font-family: $base-font-family;
      font-weight: 400px;
      font-size: 15px;
      line-height: 23px;
      padding: 16px 0px 17px 16px;
      color: $primary-text-color;
      display: none;
      background-color: #FFFFFF;
      position: absolute;
      z-index: 2;
      top: 116px;
    }

    .option {
      &:hover {
        background-color: #F3F8FF;
        cursor: pointer;
      }
    }

    .dropped {
      display: block;
    }
  }
}